<html>
    <head>
        <meta charset = "utf-8" />
          
        <title>
            Metafarm74 icon
        </title>
          
        <!-- add icon link -->
        <link rel = "icon" href = 
"https://github.com/MetaFarm74/metafarm74Dapp/blob/15731282c4cf081e5339d7c1132e92d87993fa0d/assets/images/Icon_MF74.png" 
        type = "image/x-icon">
          
    </head>
      
    <body>
        <h1 style = "color:green;">
            GeeksforGeeks
        </h1>
          
        <p>
            GeeksforGeeks icon added in the title bar
        </p>
    </body>
</html>  
